@import "colors/onehalfdark.css";

* {
  font-family: "SF Pro Display", "Symbols Nerd Font Mono", "FontAwesome";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 100%;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left {
  background: @bg;
  border: 0px solid @comment_fg;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modules-center {
  background: @bg;
  border: 0px solid @comment_fg;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.modules-right {
  background: @bg;
  border: 0px solid @comment_fg;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  /* border: 2px solid @cursor_line; */
  /* background: @bg; */
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 4px;
  padding-right: 4px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  border-radius: 10px;
  color: @comment_fg;
  background-color: @cursor_line;
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.persistent {
  color: @gutter_fg;
  border-radius: 10px;
}

#workspaces button.active {
  color: @yellow;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}

#taskbar button.active {
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-pulseaudioicon {
  color: @bg;
  background: @purple;
  padding-left: 10px;
  padding-right: 10px;
}

#pulseaudio {
  color: @purple;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-clockicon {
  color: @bg;
  background: @blue;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  color: @blue;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-networkicon {
  color: @bg;
  background: @cyan;
  padding-left: 10px;
  padding-right: 10px;
}

#network {
  color: @cyan;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-pacman {
  color: @green;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-power {
  color: @red;
  padding-left: 5px;
  padding-right: 5px;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
}
